@if (post$ | async; as post) {
  <div class="post-detail">
    <h1>{{ post.title }}</h1>
    @if (post.photo) {
      <div class="post-image">
        <img [src]="post.photo" [alt]="post.title">
      </div>
    }
    <div class="post-content">
      <p>{{ post.content }}</p>
    </div>
    @if (author$ | async; as author) {
      <app-tpl-card>
        <h2>{{ author.name }}</h2>
        <img [ngSrc]="author.photo" width="400" height="400">
        <p>{{ author.address.country }} - {{ author.address.city }}</p>
      </app-tpl-card>
    }
    <button [routerLink]="['/posts', post.id, 'edit']">Modifier le post</button>
  </div>
  <app-update-post 
    [post]="post" 
    (postUpdated)="onPostUpdated($event)">
  </app-update-post>
}

<app-liste [idPostCourant]="id" />